.search-form-container{
    display: flex;
    justify-content: center;
}
.search-form{
    margin-top: 20px;
}
.input{
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }

.photo-card{
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.info{
    display: flex;
    justify-content: center;
    gap: 25px; 
}

.load-more-container{
  display: flex;
  justify-content: center;
}

.load-more{
    margin-top: 20px;
    display: none;
}