body{
    background-color: dimgrey;
}
button{
    color: black;
    background-color: aliceblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: dodgerblue;
}

.input{
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }

.photo-card{
    background-color: LightGray;
    border: 1px solid lightslategray;
    border-radius: 4px;
    overflow: hidden;
}

.photo-card img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
  }
.info{
    display: flex;
    justify-content: center;
    gap: 25px; 
    font-size: 20px
}

.load-more-container{
  display: flex;
  justify-content: center;
}

.load-more{
    margin-top: 20px;
    display: none;
}