.search-form{
    margin-top: 20px;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }

.photo-card{
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.info{
    display: flex;
}

.load-more{
    margin-top: 20px;
}